body {
    background: whitesmoke;
    color: #444;
    font-family: Geneva;
    margin-right: 5%;
    margin-left: 5%;
    margin-top: 2%;
}

h2 {
    margin: 0px;
}

.strong {
    font-weight: bold;
    font-size:14pt;
}

.stronger {
    font-weight: bold;
    font-size:17pt;
}

.input {
    font-size:14pt;
    height:30px;
    width:40px;
}

.octalInput {
    font-size:20pt;
    height:30px;
    width:100px;
    text-align: center;
}

.button {
    background: black;
    color: whitesmoke;
    border: none;
    padding: 6px 10px;
    font-size: 12pt;
    border-radius: 10px;
}

.name {
    font-weight: bold;
    font-size: 13pt;
    margin-top:15px;
}

.company {
    font-style: italic;
}

.profile {
    font-style: italic;
    font-size: 11pt;
}

.password {
    font-family: Helvetica;
    font-size: 18pt;
    font-weight: bold;
    color: black;
    margin-left: 2%;
}

.octal {
    font-weight: bold;
    font-size: 30pt;
}

.table {
    border: 1px solid black;
    border-collapse: collapse;
    width: 45%;
    padding: 15px;
}

.tableHeader {
    border: 1px solid black;
    font-weight: bold;
    font-size:14pt;
}

.green {
    color: green;
    border: 1px solid black;
}

.red {
    color: red;
    border: 1px solid black;
}

.error {
    color: red;
}
