body {
    background: whitesmoke;
    color: #444;
    font-family: Geneva;
    margin-right: 5%;
    margin-left: 5%;
    margin-top: 2%;
}

.strong {
    font-weight: bold;
    font-size:14pt;
}

.input
    {
     font-size:14pt;
     height:30px;
     width:40px;
    }

.button {
    background: black;
    color: whitesmoke;
    border: none;
    padding: 6px 10px;
    font-size: 12pt;
    border-radius: 10px;
}

.name {
    font-weight: bold;
    font-size: 13pt;
    margin-top:15px;
}

.profile {
    font-style: italic;
    font-size: 11pt;
}

.company {
    font-style: italic;
}

.password {
    font-family: Helvetica;
    font-size: 18pt;
    font-weight: bold;
    color: black;
    margin-left: 2%;
}

.error {
    color: red;
}
